extends ../template.pug

block title
    block variables
    title Chapter #{chapter} #{appendTitle}

block opengraph
    - let ogTitle = `Chapter ${chapter} - The Nimona Archive`;
    - let ogDescription = `Chapter ${chapter} of the Nimona webcomic`;
    - let ogUrlAppend = `chapters/chapter-${chapter}.html`;
    - let ogImageAppend = `chapter-${chapter}.jpg`;

block content
    main#chapter
        - let pages = chapters[chapter]
        - let firstPage = true;
        each page in pages
            section.page
                if firstPage
                    img(src=chapterTitles[chapter], alt="Chapter " + chapter).chapterTitle
                    - firstPage = false;

                each panel in page.panels 
                    img(src=panel.image, alt=panel.alt)
                p.image-description Image description: !{page["image-description"].replaceAll("\n", "<br>")}
                p.dates=page.date
                div.comments !{page.comment}
            br
    
    script(src="chapter.js")