extends ../template.pug

block title
    block variables
    title Chapter #{chapter} #{appendTitle}

block content
    main#chapter
        - let pages = chapters[chapter]
        each page in pages
            div.page
                img(src=page.image)
                p=page.date
                div !{page.comment}