doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
            title Nimona
        link(rel="stylesheet" href="/src/stylesheet.scss")
        link(rel="stylesheet" href="/src/themes/minimal.scss").theme#minimal
        link(rel="stylesheet" href="/src/themes/movie.scss" disabled=true).theme#movie
        link(rel="shortcut icon", href="/src/themes/favicon.ico", type="image/x-icon")
    body
        video#background(autoplay=true, loop=true, muted=true)
            source(src="/src/themes/movie.mp4" type="video/mp4")
        nav
            ul
                -
                    let links = [
                        ["/src/index.pug", "Home"], 
                        ["/src/themes.pug", "Themes"], 
                        ["/src/chapters/chapter-1.pug", "Chapter 1"],
                        ["/src/chapters/chapter-2.pug", "Chapter 2"],
                        ["/src/chapters/chapter-3.pug", "Chapter 3"],
                        ["/src/chapters/chapter-4.pug", "Chapter 4"],
                        ["/src/chapters/chapter-5.pug", "Chapter 5"],
                        ["/src/chapters/chapter-6.pug", "Chapter 6"],
                        ["/src/chapters/chapter-7.pug", "Chapter 7"],
                        ["/src/chapters/chapter-7.pug", "Chapter 8"],
                        ["/src/chapters/chapter-8.pug", "Chapter 9"],
                        ["/src/chapters/chapter-10.pug", "Chapter 10"],
                        ["/src/chapters/chapter-11.pug", "Chapter 11"],
                        ]

                each link in links
                    li
                        a(href=link[0])=link[1]
            
        block content

        script(src="/src/themes/themes.js")